
automate_infra/inventory.ini
terraform/terraform.tfvars

# Terraform state and backup files in the terraform/ directory
terraform/*.tfstate
terraform/*.tfstate.backup

# Terraform configuration directory
.terraform/
automate_infra/system_api_token.txt
automate_infra/user_api_token.txt
